@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Sites Mobile */

/* Home Page (removed shorts and home+shorts buttons on the bottom) */
ytm-rich-section-renderer:has(a[href*="short"]),
ytm-pivot-bar-item-renderer:has(.pivot-w2w),
ytm-pivot-bar-item-renderer:has(.pivot-shorts),

    /* Video Page (removed reccomendations) */
[section-identifier="related-items"],

    /* Watch History Page */
lazy-list > ytm-reel-shelf-renderer

{
    display: none !important;
    height: 0 !important;
    width: 0 !important;
}

/* Sites Desktop */

/* Video Page (removed reccomendations) */
#related {
    pointer-events: none;       /* block all clicks */
    overflow: hidden;
    width: auto;                /* keep natural width for the pop */
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);   /* start position */
    animation: popSlideFade 4s forwards; /* triggers animation */
}

#secondary-inner {
    width: 0 !important;
}

/* Chanel Page (removed Shorts tab) */
.yt-tab-shape[tab-title="Shorts"] {
    display: none;
    height: 0;
    width: 0;
}

/* Watch History Page (removed shorts tab) */
ytd-reel-shelf-renderer:has(#title) { display: none; width: 0; height: 0 ;}

.ytChipBarViewModelChipWrapper:has(button[aria-label="Shorts"])
{
    display: none;
    height: 0;
    width: 0;
}

/* Notifications (removed shorts) */
ytd-notification-renderer:has(a[og_href*="shorts"]),

/* Home Page (removed shorts and home+shorts buttons) */
ytd-guide-section-renderer:has(a[title="Shorts"]),
ytd-guide-section-renderer:has(a[title="Music"]),

ytd-rich-shelf-renderer:has(a[og_href*="shorts"]),

a[aria-label="Shorts"],
a[aria-label="Home"]

{
    height: 0;
    width: 0;
    display: none;
}

/* Video Search Page */
grid-shelf-view-model:has(a[og_href*="shorts"]),
iron-selector > :nth-child(2),
ytd-search-filter-renderer:has(div[title*="Shorts"])

{
    height: 0;
    width: 0;
    display: none;
}

/* Animations */

/* Keyframes: pop out right a bit, then slide left + fade + blur */
@keyframes popSlideFade {
    0% {
        opacity: 1;
        filter: blur(3px);
        transform: translateX(0);
    }
    15% {
        opacity: 1;
        filter: blur(3px);
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        filter: blur(35px);
        transform: translateX(-50px); /* slide left while disappearing */
    }
}

@keyframes shrinkFade {
    0% {
        opacity: 1;
        filter: blur(3px);
    }
    100% {
        opacity: 0;
        filter: blur(35px);
        margin-right: -45px;
    }
}

@keyframes shrinkFadeABitMore {
    0% {
        opacity: 1;
        filter: blur(3px);
    }
    100% {
        opacity: 0;
        filter: blur(35px);
        margin-right: -65px;
    }
}